# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Log files
*.log
# Jou files
*.jou
# Backups
*.backup
# Generated shit
*.hw
*.cache
*.runs
*.sim
*.sdk
*.ip_user_files
*.str
*.Xil
*Debug/
*vivado_pid*
~$*
*standalone_bsp_0*
